@model IEnumerable<Assignment1.Models.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    <a asp-controller="Client" asp-action="Index">Go to Clients</a>
</p>
<br />
<p>
    <a asp-action="Create">Create New</a> |
    @Html.ActionLink("Transfer", "Transfer", "Account") | 
    @Html.ActionLink("Pay Bill", "Pay", "Account")
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.AmountMoney)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id}) 
            </td>
        </tr>
}
    </tbody>
</table>
